baseURL = "https://joeyshi.xyz/"
languageCode = "en"
title = "Joey Shi - Software Developer"
publishDir = "docs"
disableHugoGeneratorInject = true

[params]
author = "Joey Shi"
description = "Software developer and enjoyer of all things math and Linux (I use Arch btw)."

[Taxonomies]
  tag = "tags"

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = true
    lineNumbersInTable = true
    noClasses = true
    noHl = false
    style = 'nord'
    tabWidth = 4
