html body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 18rem;
    padding: 1rem;
    margin-bottom: 4rem;
}

.title {
    padding: 0;
    margin: 0 0 1rem 0;
}

.not-found-img {
    border-radius: var(--border-radius-lg);
    width: 100%;
}
