@font-face {
    font-family: "M Plus Rounded 1c";
    src: url("/fonts/MPLUSRounded1c-Bold.woff2") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    font-size: 16px;
    --bg: rgb(255, 255, 255);
    --fg: rgb(0, 0, 0);
    --bg-secondary: rgb(183, 217, 247);
    --bg-secondary-hover: rgb(163, 197, 227);
    --bg-button: rgb(1, 121, 173);
    --bg-button-hover: rgb(3, 145, 205);
    --bg-code: rgb(226, 230, 234);
    --border-color: rgb(208, 215, 222);
    --link-color: rgb(9, 105, 218);
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --box-shadow: 0 3px 4px var(--box-shadow-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgb(24, 26, 27);
        --fg: rgb(232, 230, 227);
        --bg-secondary: rgb(47, 50, 52);
        --bg-secondary-hover: rgb(60, 65, 68);
        --bg-button: rgb(1, 97, 138);
        --bg-button-hover: rgb(2, 114, 163);
        --bg-code: rgb(38, 41, 43);
        --border-color: rgb(59, 64, 67);
        --link-color: rgb(75, 168, 248);
    }
}

html body {
    padding: 0;
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}

p code {
    background-color: var(--bg-code);
    padding: .1em .4em;
    border-radius: 6px;
    font-size: 85%;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

nav {
    width: 16rem;
    position: fixed;
    overflow: auto;
    height: 100%;
    z-index: 10;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        & li {
            margin: 0.5rem 0;
            width: 90%;
            border-radius: 25px;
            background: var(--bg-secondary);
            & a {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-weight: 600;
                color: var(--fg);
                padding: 1rem 1rem 1rem 2rem;
                border-radius: inherit;
                &:hover {
                    background: var(--bg-secondary-hover);
                    text-decoration: none;
                }
            }
        }
    }
    & i {
        font-size: 2rem;
        width: 3rem;
    }
}

header {
    border-radius: 25px;
    background: var(--bg-secondary);
    box-shadow: var(--box-shadow);
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 6rem 2rem;
    margin: 0 auto;
    max-width: 36em;
}

.title {
    font-family: "M Plus Rounded 1c", serif;
    font-size: 32px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

h2 {
    font-family: "M Plus Rounded 1c", serif;
    margin: 0.5rem 0;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.btn {
    background: var(--bg-button);
    border-radius: 8px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    white-space: nowrap;
    font-weight: 600;
    &:hover {
        background: var(--bg-button-hover);
        text-decoration: none;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px var(--box-shadow-color);
    }
}

@media only screen and (max-width: calc(58rem - 1px)) {
    nav {
        bottom: 0;
        width: 100vw;
        height: 4rem;
        background: var(--bg-secondary);
        & ul {
            justify-content: center;
            flex-direction: row;
            height: 100%;
            width: available;
            & li {
                max-width: 8rem;
                margin: 0;
                &:last-child {
                    display: none;
                }
                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 0;
                    & span {
                        display: none;
                    }
                }
            }
        }
        & i {
            width: auto;
        }
    }
}

@media only screen and (min-width: 58rem) and (max-width: calc(72rem - 1px)) {
    nav {
        width: 8rem;
        & ul {
            justify-content: center;
            & li {
                box-shadow: var(--box-shadow);
                &:last-child {
                    display: none;
                }
                & a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem 0;
                    & span {
                        display: none;
                    }
                }
            }
        }
        & i {
            width: auto;
        }
    }
}

@media only screen and (min-width: 72rem) {
    nav ul li {
        box-shadow: var(--box-shadow);
        &:first-child {
            margin-top: 1rem;
        }
        &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            padding: 1rem 0;
            margin-bottom: 1rem;
        }
        & a {
            &:before {
                content: '»';
                font-size: 2rem;
                transition: 0.5s;
                width: 1rem;
                margin-top: -0.2rem; /* Adjust to align arrow */
                opacity: 0;
            }
            &:hover:before {
                padding-right: 1rem;
                opacity: 1;
            }
        }
    }
}
