header {
    width: 100%;
    padding: 1rem 0;
    & .header-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 1rem;
        & .header-text * {
            padding: 0;
            margin: 0;
        }
        & .profile-picture {
            margin-left: 1rem;
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
    }
}

ul.ext-links {
    list-style: none;
    list-style-position: inside;
    padding: 0 0 0 1rem;
    margin: 0.5rem 0;
    & li {
        padding: 0.2rem;
        margin: 0;
    }
    & i {
        width: 1.4rem;
    }
}

ul.repo-cards {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > li {
        border-color: var(--border-color);
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;
        padding: 1rem;
        margin: 0.3rem;
        font-size: 15px;
        width: 15rem;
        display: flex;
        flex-direction: column;
        & > .repo-header i {
            font-size: 16px;
        }
        & .repo-language {
            margin-top: auto;
            & .repo-language-color {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px;
                top: 1px;
                display: inline-block;
                &[lang="TypeScript"] {
                    background: #2b7489;
                }
                &[lang="HTML"] {
                    background: #e34c26;
                }
                &[lang="Python"] {
                    background: #3572a5;
                }
                &[lang="Vim script"] {
                    background: #199f4b;
                }
                &[lang="Java"] {
                    background: #b07219;
                }
            }
        }
    }
}

.fa-github-alt {
    width: 1.2rem;
}

ul.blog-posts {
    margin: 0;
    padding: 0;
    & li {
        border-color: var(--border-color);
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;
        padding: 1rem;
        margin: 0.5rem;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
}
