header {
    display: flex;
    padding: 0.5rem 2rem;
}

ul.listing {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    & li {
        padding: 1rem 0 2rem 0;
        border-top: 1px solid var(--border-color);
        &:last-child {
            border-bottom: 1px solid var(--border-color);
        }
        & .entry-description {
            font-size: 0.9rem;
        }
        & footer {
            font-size: 0.8rem;
            display: flex;
            flex-direction: row;
            & .entry-date {
                margin-right: 1rem;
            }
            & .entry-tag {
                margin: 0 0.1rem;
            }
        }
    }
}
