header {
    display: flex;
    padding: 0.5rem 2rem;
}

ul.listing {
    list-style: none;
    list-style-type: none;
    padding: 0;
    padding-top: 2rem;
    margin: 0;
    width: 100%;

    & li {
        padding: 1rem 0 2rem 0;
        border-top: 1px solid var(--border-color);

        &:last-child {
            border-bottom: 1px solid var(--border-color);
        }
    }
}
