img {
    max-width: 100%;
    height: auto;
}

.page-header {
    background: var(--bg-secondary);
    border-radius: 25px;
    margin: 0.5rem 0;
    padding: 1.2rem 2rem 1.6rem 2rem;
}

.page-header-footer {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
}

.page-date {
    margin-right: 1rem;
}

.page-tags {
    margin: 0 0.1rem;
}

.parent-link {
    font-family: "M Plus Rounded 1c", serif;
}

.page-title {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.fa-caret-right {
    padding: 0 0.2rem;
}

h2 {
    font-family: "M Plus Rounded 1c", serif;
    font-size: 1.2rem;
}

.content {
    margin: 1rem 0;
}

.content h2 {
    margin-top: 2.4rem;
}

table {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

table th {
    padding: 6px 13px;
    border: 1px solid
}

table tr {
    border-top: 1px solid;
}

table td {
    padding: 6px 13px;
    border: 1px solid;
}

.highlight {
    font-size: 14px;
    overflow-x: auto;
    background: #2e3440;
}

mjx-container[jax="CHTML"][display="true"] {
    padding: 1em 0;
    overflow-x: auto;
    overflow-y: hidden;
}

details {
    margin: 1rem 0;
}

details > summary {
    background-color: var(--bg-secondary);
    cursor: pointer;
    padding: .5rem 1rem;
}

details > summary > * {
    display: inline;
}

details > div {
    border: 2px solid var(--bg-secondary);
    margin-top: 0;
}

details > div > p {
    padding: 0 0.5rem;
}
