header {
    display: flex;
    padding: 0.5rem 2rem;
}

ul.tags-container {
    margin: 0;
    padding: 0;
    padding-top: 1rem;

    & li {
        display: inline-block;
        margin: 10px;
        font-weight: 500;

        & a {
            display: block;
            padding: 3px 10px;
            color: var(--fg);
            background: var(--bg-secondary);
            border-radius: var(--border-radius-md);
            box-shadow: var(--box-shadow);
            text-decoration: none;
            transition: transform 0.1s ease, box-shadow 0.1s ease;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 4px 8px var(--box-shadow-color);
            }
        }
    }
}
