header {
    display: flex;
    padding: 0.5rem 2rem;
}

ul.tags-container {
    margin: 0;
    padding: 0;
    padding-top: 1rem;

    & li {
        display: inline-block;
        margin: 10px;
    }
}
