<!DOCTYPE HTML>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <title>{{ if .IsHome }} {{ .Title }} {{ else }} {{ .Title }} - {{ .Site.Params.Author }} {{ end }}</title>
    <meta charset="utf-8"/>
    <meta name="author" content="{{ .Site.Params.author }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {{- /* Linkedin */}}
    <meta name="description" property="og:description" content="{{ .Site.Params.description }}">
    <meta name="image" property="og:image" content="{{ absURL "img/preview.webp" }}">

    {{- /* Google / Search Engine Tags */}}
    <meta itemprop="name" content="{{ .Site.Params.author }}">
    <meta itemprop="description" content="{{ .Site.Params.description }}">
    <meta itemprop="image" content="{{ absURL "img/preview.webp" }}">

    {{- /* Facebook Meta Tags */}}
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Site.Params.author }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="{{ absURL "img/preview.webp" }}">

    {{- /* Twitter Meta Tags */}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Site.Params.author }}">
    <meta name="twitter:description" content="{{ .Site.Params.description }}">
    <meta name="twitter:image" content="{{ absURL "img/preview.webp" }}">

    <link rel="stylesheet" href="/libs/font-awesome/6.5.2/css/all.min.css">
    {{- block "styles" . }}
    {{- end }}
    {{- if .Params.mathjax }}
    <script>
        MathJax = {
            chtml: {
                scale: 0.9
            },
            svg: {
                scale: 0.9
            },
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$','$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
    </script>
    <script src="/libs/mathjax/3.2.2/tex-chtml-full.min.js" type="text/javascript"></script>
    {{- end }}
    {{- if .Params.desmos }}
    <script src="https://www.desmos.com/api/v1.8/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    {{- end }}
    <link rel="icon" href="/favicon.ico">
</head>
<body>
    {{- block "body" . }}
    <nav class="page-nav">
        <ul>
            <li>
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/projects">
                    <i class="fa-solid fa-diagram-project"></i>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="/posts">
                    <i class="fa-solid fa-blog"></i>
                    <span>Posts</span>
                </a>
            </li>
            <li>
                <a href="/tags">
                    <i class="fa-solid fa-tag"></i>
                    <span>Tags</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
    {{- block "main" . }}
    {{- end }}
    </main>
    <footer class="page-footer">
        <div class="badges-container">
            {{- range .Site.Data.badges }}
            <a href="{{ .link }}">
                <img src="/img/badges/{{ .badgeImage }}" alt="{{ .name }}" />
            </a>
            {{- end }}
        </div>
        <p>&copy; {{ now.Year }} {{ .Site.Params.author }}. All rights reserved.</p>
    </footer>
    {{- block "scripts" . }}
    {{- end }}
    {{- end }}
</body>
</html>
