<!DOCTYPE HTML>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <title>{{ if .IsHome }} {{ .Title }} {{ else }} {{ .Title }} - {{ .Site.Params.Author }} {{ end }}</title>
    <meta charset="utf-8"/>
    <meta name="author" content="{{ .Site.Params.author }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {{- $description := default .Site.Params.description .Params.description }}

    {{- /* Linkedin */}}
    <meta name="description" property="og:description" content="{{ $description }}">
    <meta name="image" property="og:image" content="{{ absURL "img/preview.webp" }}">

    {{- /* Google / Search Engine Tags */}}
    <meta itemprop="name" content="{{ .Site.Params.author }}">
    <meta itemprop="description" content="{{ $description }}">
    <meta itemprop="image" content="{{ absURL "img/preview.webp" }}">

    {{- /* Facebook Meta Tags */}}
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Site.Params.author }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="{{ absURL "img/preview.webp" }}">

    {{- /* Twitter Meta Tags */}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Site.Params.author }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:image" content="{{ absURL "img/preview.webp" }}">

    <link rel="stylesheet" href="/libs/font-awesome/6.5.2/css/all.min.css">
    {{- block "styles" . }}
    {{- end }}
    <link rel="icon" href="/favicon.ico">
</head>
<body>
    {{- block "body" . }}
    <nav class="page-nav">
        <ul>
            <li>
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/projects">
                    <i class="fa-solid fa-diagram-project"></i>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="/posts">
                    <i class="fa-solid fa-blog"></i>
                    <span>Posts</span>
                </a>
            </li>
            <li>
                <a href="/tags">
                    <i class="fa-solid fa-tag"></i>
                    <span>Tags</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
    {{- block "main" . }}
    {{- end }}
    </main>
    <footer class="page-footer">
        <p>&copy; {{ now.Year }} {{ .Site.Params.author }}. All rights reserved.</p>
    </footer>
    {{- end }}
</body>
</html>
