{{- define "styles" }}
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/single.css"/>
{{- end }}

{{- define "scripts" }}
{{- range .Params.scripts }}
    <script src="{{ . }}"></script>
{{- end }}
{{- end }}

{{- define "main" }}
    <div class="breadcrumbs">
        {{- with .Parent }}
        <a class="parent-link" href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end }}
        <span><i class="fa-solid fa-caret-right"></i></span>
        <h2 class="single-title">{{ .Title }}</h3>
    </div>
    <div class="content">
        {{- .Content }}
    </div>
{{- end }}
