{{- define "styles" }}
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/single.css"/>
{{- end }}

{{- define "main" }}
    <article>
        <header>
            <div>
                {{- with .Parent }}
                <a class="parent-link" href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end }}
                <span><i class="fa-solid fa-caret-right"></i></span>
                <h2 class="page-title">{{ .Title }}</h2>
            </div>
            <footer class="post-footer">
                <span class="entry-date">{{ .Date | time.Format ":date_long" }}</span>
                {{- if isset .Params "tags" }}
                <div>
                    {{- range .Params.tags }}
                    <a class="entry-tag" href="/tags/{{ . | urlize }}">#{{ . }}</a>
                    {{- end }}
                </div>
                {{- end }}
            </footer>
        </header>
        {{- if .Param "toc" }}
        <details>
            <summary>Table of contents</summary>
            {{- .TableOfContents }}
        </details>
        {{- end }}
        {{- .Content }}
    </article>
    <script src="/js/copy_code.js"></script>
    {{- if .Params.mathjax }}
    <script>
        MathJax = {
            chtml: {
                scale: 0.9
            },
            svg: {
                scale: 0.9
            },
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$','$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
    </script>
    <script src="/libs/mathjax/3.2.2/tex-chtml-full.min.js" type="text/javascript"></script>
    {{- end }}
    {{- if .Params.desmos }}
    <script src="https://www.desmos.com/api/v1.8/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    {{- end }}
    {{- range .Params.scripts }}
    <script src="{{ . }}"></script>
    {{- end }}
    <script src="https://giscus.app/client.js"
            data-repo="joeyshi12/joeyshi.xyz"
            data-repo-id="R_kgDOIbcomw"
            data-category="Announcements"
            data-category-id="DIC_kwDOIbcom84CzGek"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
{{- end }}
