{{- define "styles" }}
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/single.css"/>
{{- end }}

{{- define "scripts" }}
    <script src="/js/copy_code.js"></script>
    {{- range .Params.scripts }}
    <script src="{{ . }}"></script>
    {{- end }}
{{- end }}

{{- define "main" }}
    <article>
        <header>
            <div>
                {{- with .Parent }}
                <a class="parent-link" href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end }}
                <span><i class="fa-solid fa-caret-right"></i></span>
                <h2 class="page-title">{{ .Title }}</h2>
            </div>
            <footer>
                <span class="page-date">{{ .Date | time.Format ":date_long" }}</span>
                {{- if isset .Params "tags" }}
                <div>
                    {{- range .Params.tags }}
                    <a class="page-tags" href="/tags/{{ . | urlize }}">#{{ . }}</a>
                    {{- end }}
                </div>
                {{- end }}
            </footer>
        </header>
        {{- .Content }}
    </article>
{{- end }}
