@font-face {
    font-family: "M Plus Rounded 1c";
    src: url("/fonts/MPLUSRounded1c-Bold.woff2") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    --bg: #ffffff;
    --fg: #000000;
    --bg-secondary: #b7d9f7;
    --bg-button: #0179ad;
    --bg-button-hover: #00618b;
    --bg-code: #e2e6ea;
    --border-color: #d0d7de;
    --link-color: #0969da;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #181a1b;
        --fg: #e8e6e3;
        --bg-secondary: #2f3234;
        --bg-button: #01618a;
        --bg-button-hover: #004e6f;
        --bg-code: #26292b;
        --border-color: #3b4043;
        --link-color: #4ba8f8;
    }
}

html body {
    padding: 0;
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}

p code {
    background-color: var(--bg-code);
    padding: .1em .4em;
    border-radius: 6px;
    font-size: 85%;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

nav {
    width: 16rem;
    position: fixed;
    overflow: auto;
    height: 100%;
    z-index: 1;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        & li {
            margin: 0.5rem 0;
            width: 90%;
            background: var(--bg-secondary);
            border-radius: 25px;
            & a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--fg);
                padding: 1rem 1rem 1rem 2rem;
                border-radius: 25px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    & i {
        font-size: 2rem;
        width: 3rem;
    }
}

.page-body {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 6rem 2rem;
    margin: 0 auto;
    max-width: 36em;
}

.title {
    font-family: "M Plus Rounded 1c", serif;
    font-size: 32px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

h2 {
    font-family: "M Plus Rounded 1c", serif;
    margin: 0.5rem 0;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button {
    background: var(--bg-button);
    border-radius: 8px;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    &:hover {
        background: var(--bg-button-hover);
        text-decoration: none;
    }
}

@media only screen and (max-width: calc(58rem - 1px)) {
    nav {
        bottom: 0;
        width: 100vw;
        height: 4rem;
        background: var(--bg-secondary);
        & ul {
            justify-content: center;
            flex-direction: row;
            height: 100%;
            width: available;
            & li {
                max-width: 8rem;
                margin: 0;
                &:last-child {
                    display: none;
                }
                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 0;
                    & span {
                        display: none;
                    }
                }
            }
        }
        & i {
            width: auto;
        }
    }
}

@media only screen and (min-width: 58rem) and (max-width: calc(72rem - 1px)) {
    nav {
        width: 8rem;
        & ul {
            justify-content: center;
            & li {
                &:last-child {
                    display: none;
                }
                & a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem 0;
                    & span {
                        display: none;
                    }
                }
            }
        }
        & i {
            width: auto;
        }
    }
}

@media only screen and (min-width: 72rem) {
    nav ul li {
        &:first-child {
            margin-top: 1rem;
        }
        &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            padding: 1rem 0;
            margin-bottom: 1rem;
        }
        & a {
            &:before {
                content: '»';
                font-size: 2rem;
                transition: 0.5s;
                width: 1rem;
                margin-top: -0.2rem; /* Adjust to align arrow */
                opacity: 0;
            }
            &:hover:before {
                padding-right: 1rem;
                opacity: 1;
            }
        }
    }
}
