img {
    max-width: 100%;
    height: auto;
}

.breadcrumbs {
    margin: 0.5rem 0;
    padding: 1.2rem;
    background: var(--bg-secondary);
    border-radius: 25px;
}

.parent-link {
    font-family: "M Plus Rounded 1c", serif;
}

.single-title {
    display: inline-block;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: "M Plus Rounded 1c", serif;
    font-size: 1.2rem;
}

.content h2 {
    margin-top: 2.4rem;
}

.highlight {
    font-size: 14px;
    overflow-x: auto;
    background: #2e3440;
}

mjx-container[jax="CHTML"][display="true"] {
    padding: 1em 0;
    overflow-x: auto;
    overflow-y: hidden;
}

details {
    margin: 1rem 0;
}

details > summary {
    background-color: var(--bg-secondary);
    cursor: pointer;
    padding: .5rem 1rem;
}

details > summary > * {
    display: inline;
}

details > div {
    border: 2px solid var(--bg-secondary);
    margin-top: 0;
}

details > div > p {
    padding: 0 0.5rem;
}

p > code {
    color: var(--fg);
    background-color: #e2e6ea;
    padding: .2em .4em;
    border-radius: 6px;
    font-size: 85%;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
