<div class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fa fa-file-text icon"></i>
                <span class="link-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/blog" class="nav-link">
                <i class="fa fa-file-text icon"></i>
                <span class="link-text">Blog</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/joeyshi12" target="_blank" class="nav-link">
                <i class="fa fa-github icon"></i>
                <span class="link-text">Github</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://linkedin.com/in/joeyshi12" target="_blank" class="nav-link">
                <i class="fa fa-linkedin icon"></i>
                <span class="link-text">LinkedIn</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="mailto:root@joeyshi.com" class="nav-link">
                <i class="fa fa-envelope icon"></i>
                <span class="link-text">Contact</span>
            </a>
        </li>
        <li class="nav-item">
            <span>© 2022 {{ .Site.Params.author }}</span>
        </li>
    </ul>
</div>
