{{- define "styles" }}
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/404.css"/>
{{- end }}

{{- define "body" }}
<div class="container">
    <h2 class=title>404</h2>
    <img class="not-found-img" src="/img/crying_penguin.webp" alt="crying_penguin"/>
    <p>The requested URL <code id="url"></code> was not found</p>
    <div class="btn-group">
        <a class="btn btn-primary" href="/">Return to portfolio</a>
    </div>
</div>
<script>
    document.getElementById("url").textContent = window.location.pathname;
</script>
{{- end }}
