{{- define "styles" }}
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
{{- end }}

{{ define "main" }}
    <div class="header">
        <div class="header-content">
            <div class="header-text">
                <h1 class="title">{{ .Site.Params.author }}</h1>
                <p>Software Developer / Linux Enthusiast / Math Enjoyer</p>
            </div>
            <div class="profile-picture">
                <img src="/img/profile.webp" alt="profile-picture"/>
            </div>
        </div>
    </div>
    <section>
        <h2>About</h2>
        <div>
            {{- .Content }}
        </div>
        <div class="button-group">
            <a class="button" target="_blank" href="/resume/resume.pdf">Resume</a>
        </div>
    </section>
    <section>
        <h2>Where to find me</h2>
        <ul class="ext-links">
            <li>
                <i class="fa-brands fa-github"></i>
                <a href="https://github.com/joeyshi12" target="_blank">@joeyshi12</a>
            </li>
            <li>
                <i class="fa-brands fa-linkedin"></i>
                <a href="https://linkedin.com/in/joeyshi12" target="_blank">@joeyshi12</a>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:root@joeyshi.xyz">@root@joeyshi.xyz</a>
            </li>
        </ul>
    </section>
    <section>
        <h2>Projects</h2>
        <ul class="repo-cards">
        {{- range where (where .Site.RegularPages "Section" "projects") "Params.featured" "=" true }}
            <li>
                <div class="repo-header">
                    <i class="fa-brands fa-github-alt"></i>
                    <a class="repo-link" href="{{ .Permalink }}">{{ .Params.repoName }}</a>
                </div>
                <p>{{ .Description }}</p>
                <div class="repo-language">
                    <span class="repo-language-color" lang="{{ .Params.language }}"></span>
                    <span>{{ .Params.language }}</span>
                </div>
            </li>
        {{- end }}
        </ul>
    </section>
    <section>
        <h2>Posts</h2>
        <ul class="blog-posts">
        {{- range first 4 (where .Site.RegularPages "Section" "posts") }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <p>{{ .Description }}</p>
                <span>{{ .Date.Format "January 2, 2006" }}</span>
            </li>
        {{- end }}
        </ul>
    </section>
{{- end }}
