{{ define "styles" }}
    <link rel="stylesheet" href="/css/common.css"/>
{{ end }}

{{ define "main" }}
<div class="header">
    <div class="header-text">
        <h1 class="title">{{ .Site.Params.author }}</h1>
        <p>Software Developer / Student / Linux Enthusiast</p>
    </div>
    <img src="/images/profile.webp" class="profile-picture" alt="profile-picture"/>
</div>
<section>
    <h2 class="section-title">About</h2>
    <div class="about-content">
        {{ .Content }}
    </div>
    <div class="button-group">
        <a class="button" target="_blank" href="/resume/resume.pdf">Resume</a>
    </div>
</section>
<section>
    <h2 class="section-title">Where to find me</h2>
    <ul class="ext-links">
        <li class="ext-link">
            <i class="fa-brands fa-github brand-icon"></i>
            <a href="https://github.com/joeyshi12" target="_blank">@joeyshi12</a>
        </li>
        <li class="ext-link">
            <i class="fa-brands fa-linkedin brand-icon"></i>
            <a href="https://linkedin.com/in/joeyshi12" target="_blank">@joeyshi12</a>
        </li>
        <li class="ext-link">
            <i class="fa-solid fa-envelope brand-icon"></i>
            <a href="mailto://joeyshi12@gmail.com">@root@joeyshi.xyz</a>
        </li>
    </ul>
</section>
<section>
    <h2 class="section-title">Projects</h2>
    <ul class="repo-cards">
    {{ range first 4 (where .Site.RegularPages "Section" "projects") }}
        <li class="repo-card">
            <div class="repo-header">
                <i class="fa-brands fa-github-alt icon"></i>
                <a class="repo-link" href="{{ .Permalink }}">{{ .Params.repoName }}</a>
            </div>
            <p>{{ .Description }}</p>
            <div class="repo-language">
                <span class="repo-language-color" lang="{{ .Params.language }}"></span>
                <span>{{ .Params.language }}</span>
            </div>
        </li>
    {{ end }}
    </ul>
</section>
<section>
    <h2 class="section-title">Blog</h2>
    <ul class="blog-posts">
    {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
        <li class="blog-post">
            <a class="blog-post-link" href="{{ .Permalink }}">{{ .Title }}</a>
            <p>{{ .Description }}</p>
            <span class="blog-post-date">{{ .Date.Format "January 2, 2006" }}</span>
        </li>
    {{ end }}
    </ul>
</section>
{{ end }}
